* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: #050a30;
    color: #fff;
}

li {
    list-style: none;
}

button {
    background: transparent;
    border: none;
}

.header {
    width: 100%;
    height: 50px;
}

.nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.nav .nav--ul-list {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav--ul-list .ul-list--item {
    width: 40px;
    height: 40px;
}

.ul-list--item a {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ul-list--item a i {
    font-size: 2.6rem;
    color: #353535;
}

.ul-list--item button i:hover {
    color: antiquewhite;
}

.ul-list--item .active {
    color: white;
}



.main {
    width: 100%;
    height: 90vh;

}

.section--chronometer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    align-items: center;

}

.section--chronometer h1 {
    font-size: 5rem;
    padding-bottom: 50px;
}

.container--title {
    font-size: 4rem;
}

.container--buttons {
    position: absolute;
    top: 100%;
    left: calc(50% - 63px);
}

.container--buttons button {
    width: 50px;
    height: 50px;
    background-color: #353535;
    border-radius: 50%;
    cursor: pointer;
}

.container--buttons button:hover {
    background-color: #5a5a5a;
    transform-style: flat;
    transition: all 0.5s;
    
}

.button--stop {
    margin-right: 10px;
}

.container--buttons button i {
    color: cornflowerblue;
    font-size: 3rem;
}

#advertencia {
    color: red;
    font-size: 1.8rem;
}

.buttons_icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--buttons .no-active {
    display: none;
}